@page "/loadingspinners"

<PageTitle>Loading Spinners - Test BlazorWASM</PageTitle>

<div class="row spinner-container">
    <div class="row mb-5">
        <div class="loader1"></div>
    </div>
    <div class="row mb-5">
        <div class="loader2"></div>
    </div>
    <div class="row mb-5">
        <div class="loader3"></div>
    </div>
    <div class="row">
        <div class="loader4"></div>
    </div>
</div>
