@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <TLNavMenu />
    </div>

    <main>
        <div class="top-row fixed-top px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>

        <footer>
            <em>Created by Collyn Christopher Brenner</em>
        </footer>
        <div class="footer-spacer"></div>
    </main>
</div>
