<!-- TLNavMenu = Top Nav for Mobile, Left Nav for Desktop -->

<div class="topLevelOfComponent">
    <div class="top-row navbar navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="">Test BlazorWASM</a>
            <!-- start Floating button -->
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- end Floating button -->
        </div>
    </div>

    <div class="@custDisplayBlock navcontainer-custom" @onclick="ToggleNavMenu">
        <nav class="colorful-menu">
            <div class="nav-item">
                <NavLink class="nav-link" href="#">
                    <span class="oi oi-plus" aria-hidden="true"></span>First Item (H)
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span>Counter
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span>Fetch data
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="loadingspinners">
                    <span class="oi oi-plus" aria-hidden="true"></span>Loading Spinners
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="multipagedata">
                    <span class="oi oi-plus" aria-hidden="true"></span>Multi-Page Data
                </NavLink>
            </div>
            <div class="nav-item">
                <NavLink class="nav-link" href="testpage">
                    <span class="oi oi-plus" aria-hidden="true"></span>Test Page
                </NavLink>
            </div>
            @for(int i=0; i < 20; i++)
            {
                <div class="nav-item">
                    <NavLink class="nav-link" href="#">
                        <span class="oi oi-plus" aria-hidden="true"></span>Blank Item (H)
                    </NavLink>
                </div>
            }
            <div class="nav-item">
                <NavLink class="nav-link" href="#">
                    <span class="oi oi-plus" aria-hidden="true"></span>Last Item (H)
                </NavLink>
            </div>
        </nav>
        <div class="navmenu-negative"></div>
    </div>
</div>
